
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
  font-size: 16px;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #535a60;
  margin: 0;
}

.container{
  max-width:50em;
  margin-left:auto;
  margin-right:auto
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  color: #535a60;
}

h1, .h1 { font-size: 3rem; }
h2, .h2 { font-size: 2.5rem; }
h3, .h3 { font-size: 2rem; }

.centered {
  text-align: center;
}

.h3.underline {
  border-bottom: 10px solid #e84c3c;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.button {
  border-radius: 15px;
  background-color: #e84c3c;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  font-weight: bold;
  margin: 1rem;
  display: inline-block;
  text-decoration: none;
}

.button:hover {
  background-color: #ec5444;
}

.swatch {
  width: 100px;
  height: 100px;
  margin: 1rem;
  float: left;
  display: block;
}

.bg-lightblue { background-color: #3597d3; }
.lightblue { color: #3597d3; }

.bg-darkblue { background-color: #2d4e67; }
.darkblue { color: #2d4e67; }

.bg-darkestblue { background-color: #18374e; }
.darkestblue { color: #18374e; }

.red { background-color: #e84c3c; }

.bg-.grey { background-color: #eeeeee; }
.grey { color: #eeeeee; }

ul.checks {
  list-style-type: none;
  padding-left: 0;
  font-size: 1.25rem;
}

.checks li {
  background: url('checkmark.png') no-repeat top left;
  padding: 0 0 1rem 40px;
  line-height: 1.5rem;
}

.boxHeading {
  background-color: #e1e1e1;
  padding: .75rem 1.5rem;
  display: inline-block;
  margin-bottom: 0;
}

.box {
  width: 25%;
  background-color:#f1f1f1;
  padding: 2rem;
}

.box .checks li {
  font-weight: bold;
}

.boxHeading.blue {
  background-color: #2774a4;
  color: #fff;
}

.box.blue {
  background-color: #3597d3;
  color: #fff;
  font-size: 1.75rem;
}

.divider {
  height: 3px;
  background-color: #ccc;
  width: 30%;
  margin: 2rem auto;
  display: block;
}

.footer {
  color: #d8e0e7;
  border-top: 10px solid #18374e;
  background-color: #2d4e67;
  padding: 2rem;
  margin-top: 4rem;
}

.footer .h3 {
  color: #97b1c5;
  display: inline-block;
  border-bottom: 10px solid #18374e;
  padding-bottom: .25rem;
  margin: 0 0 1rem;
}

.footer a {
  font-weight: bold;
  color: #3597d3;
  text-decoration: none;
}

.footer a:hover {
  color: #43a4e0;
}

.footer .widget {
  padding-left: 2rem;
  width: 50%;
}

.copyright {
  background-color: #18374e;
  color: #748999;
  padding: .75rem 2rem;
}

.copyright a {
  color: #b5bfc6;
  text-decoration: none;
}

.bg-hero {
  background-repeat: no-repeat;
  background-position: 0;
  background-image:url('../img/JS-HeroShot-1.jpg')
}

.burlington-code-logo {
  max-width: 355px;
  height: 85px;
  background-repeat: no-repeat;
  background-position: 0;
  background-size: contain;
  background-image: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300.72 61.57"><defs><style>.cls-1{font-size:57.54px;fill:#e64c3c;font-family:Geometria;letter-spacing:-2px;}.cls-2{fill:#2e4e66;}.cls-3{fill:#3b97d3;stroke:#3b97d3;stroke-miterlimit:10;stroke-width:3px;}</style></defs><title>BC-logo</title><g id="Brackets"><text class="cls-1" transform="translate(0 48.91)">{</text><text class="cls-1" transform="translate(283.52 48.91)">}</text></g><g id="BTV"><path class="cls-2" d="M51.46,114.38v2.72h-1.6V94.2h1.6v10a7.72,7.72,0,0,1,6.41-3.14,8.21,8.21,0,0,1,0,16.42A7.7,7.7,0,0,1,51.46,114.38Zm12.73-5.07a6.57,6.57,0,0,0-6.64-6.77,6.91,6.91,0,0,0-6.08,3.86v5.79A6.77,6.77,0,0,0,57.54,116,6.56,6.56,0,0,0,64.18,109.31Z" transform="translate(-30.45 -72.29)"/><path class="cls-2" d="M84,101.46V117.1h-1.6v-2.68a8.55,8.55,0,0,1-6.61,3.07c-4.06,0-6.05-2.42-6.05-6.51v-9.52h1.6v9.19c0,4.61,2.88,5.33,4.94,5.33a8,8,0,0,0,6.12-3.57v-11H84Z" transform="translate(-30.45 -72.29)"/><path class="cls-2" d="M89.26,101.46h1.6v3.24a7.55,7.55,0,0,1,6.31-3.63v1.64a7,7,0,0,0-6.31,4.12V117.1h-1.6V101.46Z" transform="translate(-30.45 -72.29)"/><path class="cls-2" d="M100.65,113.82V94.2h1.6v19.27c0,1.67.79,2.49,2.29,2.49a3.08,3.08,0,0,0,1.64-.46V117a4.38,4.38,0,0,1-2.13.46C102.48,117.49,100.65,116.74,100.65,113.82Z" transform="translate(-30.45 -72.29)"/><path class="cls-2" d="M111.08,94.65A1.31,1.31,0,1,1,109.77,96,1.31,1.31,0,0,1,111.08,94.65Zm-0.79,6.8h1.6V117.1h-1.6V101.46Z" transform="translate(-30.45 -72.29)"/><path class="cls-2" d="M118.18,117.1V101.46h1.6v2.68a8.55,8.55,0,0,1,6.61-3.07c4.06,0,6.05,2.42,6.05,6.51v9.52h-1.6V107.9c0-4.58-2.91-5.33-4.94-5.33a7.87,7.87,0,0,0-6.12,3.57v11h-1.6Z" transform="translate(-30.45 -72.29)"/><path class="cls-2" d="M152.79,101.46v14.92c0,5-3.7,7.39-8.31,7.39a13.6,13.6,0,0,1-6-1.47v-1.6a11.8,11.8,0,0,0,5.92,1.6c3.86,0,6.8-1.77,6.8-5.92v-2.09a7.64,7.64,0,0,1-6.38,3,8.13,8.13,0,0,1,0-16.26,7.66,7.66,0,0,1,6.38,3.07v-2.68h1.6Zm-1.6,4.87a6.66,6.66,0,0,0-6.05-3.79,6.66,6.66,0,1,0,0,13.31,6.63,6.63,0,0,0,6.05-3.76v-5.76Z" transform="translate(-30.45 -72.29)"/><path class="cls-2" d="M160.58,112.94v-10h-4v-1.44h4v-5h1.6v5h5.76v1.44h-5.76v9.62c0,2.58.85,3.43,2.91,3.43a5.33,5.33,0,0,0,2.62-.72v1.54a6.12,6.12,0,0,1-3,.72C161.79,117.49,160.58,115.66,160.58,112.94Z" transform="translate(-30.45 -72.29)"/><path class="cls-2" d="M171,109.31a8.33,8.33,0,1,1,8.31,8.18A8.12,8.12,0,0,1,171,109.31Zm15,0a6.69,6.69,0,1,0-6.71,6.71A6.63,6.63,0,0,0,186,109.31Z" transform="translate(-30.45 -72.29)"/><path class="cls-2" d="M192.31,117.1V101.46h1.6v2.68a8.55,8.55,0,0,1,6.61-3.07c4.06,0,6.05,2.42,6.05,6.51v9.52H205V107.9c0-4.58-2.91-5.33-4.94-5.33a7.87,7.87,0,0,0-6.12,3.57v11h-1.6Z" transform="translate(-30.45 -72.29)"/></g><g id="CODE"><path class="cls-3" d="M221.44,105.65c0-6.9,5-11.84,11.55-11.84a11.76,11.76,0,0,1,6.54,1.8v1.73a11.58,11.58,0,0,0-6.51-2A10.29,10.29,0,0,0,233,116a10.92,10.92,0,0,0,7-2.39v1.8a11.54,11.54,0,0,1-7.07,2.13A11.41,11.41,0,0,1,221.44,105.65Z" transform="translate(-30.45 -72.29)"/><path class="cls-3" d="M243.78,105.65c0-6.77,4.91-11.84,11.42-11.84s11.38,5.07,11.38,11.84-4.94,11.84-11.38,11.84S243.78,112.45,243.78,105.65Zm21.13,0c0-5.92-4.29-10.27-9.72-10.27s-9.75,4.35-9.75,10.27,4.32,10.3,9.75,10.3S264.91,111.57,264.91,105.65Z" transform="translate(-30.45 -72.29)"/><path class="cls-3" d="M272.44,94.2h7.16c7.33,0,12.33,4.65,12.33,11.45s-5,11.45-12.33,11.45h-7.16V94.2Zm6.9,21.39c6.8,0,10.93-4,10.93-9.94s-4.12-9.94-10.93-9.94h-5.27v19.89h5.27Z" transform="translate(-30.45 -72.29)"/><path class="cls-3" d="M297.79,94.2h15.38v1.5H299.43V104h11.35v1.54H299.43v10h14.26v1.5h-15.9V94.2Z" transform="translate(-30.45 -72.29)"/></g></svg>');
  }
    
